/* This is the main CSS File, messy, but functional */

.CursorSonic {
	cursor:url("sonic.gif"), default;
}

@font-face {
  font-family: Abelone;
  src: url(Abelone-FREE.otf);
}

.CursorTails{
	cursor:url("tails.gif"), default;
}

.CursorShadow{
	cursor:url("shadow.gif"), default;
}

.CursorMetroid{
	cursor:url("samus.cur"), default;
}

.MainButton{
	text-align: center;
	display: inline-block;
	margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius: 8px;
}

.TailsButton{
	background-color: white; 
    color: black; 
    border: 2px solid #ffff00;
}

.TailsButton:hover{
	background-color: #ffff00;
    color: black;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.ShadowButton{
	background-color: white; 
    color: black; 
    border: 2px solid #1a0000;
}

.ShadowButton:hover{
	background-color: #1a0000;
    color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.MetroidButton{
	background-color: white; 
    color: black; 
    border: 2px solid #99e6ff;
}

.MetroidButton:hover{
	background-color: #99e6ff;
    color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.BarbieButton{
	background-color: white; 
    color: black; 
    border: 2px solid #FF50FF;
}

.BarbieButton:hover{
	background-color: #FF50FF;
    color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.SonicRetroButton{
	background-color: white; 
    color: black; 
    border: 2px solid #0000ff;
}

.SonicRetroButton:hover{
	background-color: #0000ff;
    color: white;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.DuckDuckGoScroll{
	position: -webkit-sticky;
	position: sticky;
	top: 5px;
	padding-top: 5px;
}
h1 {
	font-family: 'Abelone';
	}
	
h2 {
	font-family: 'Play', sans-serif;
	}
	
h3 {
	font-family: 'Play', sans-serif;
	}
	
h4 {
	font-family: 'Righteous', cursive;
	}
	
.h42{
	color:white;
	}
	
.h4{
}
.a{
	color:black;
}

a:visited{
	color:black;
}
.SonicRules {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 13px;
	opacity:1;
	position:relative
	}
	
.MetroidRules {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0px;
	opacity:1;
	position:relative
	}
	
.BarbieRules {
	font-family: 'IBM Plex Mono', monospace;
	font-size: 0px;
	opacity:1;
	position:relative
	}
	
.MetroidGames {
	font-size: 0px;
	}
	
.BarbieGames {
	font-size: 0px;
	}
	
.SonicGames {
	font-size: 1px;
	}

.temp {
	display: none;
}

p {
	font-family: 'Righteous',cursive;
	font-size: 11px;
	text-align: center;
	}

.ChangeText{
	text-align: left;
	font-size:1px;
}

.ChangeText:hover{
	font-size:11px;
}
@keyframes fade {
    from {background-color: white;}
    to {background-color:ddffff }
}

@keyframes fade4 {
    from {background-color: white;}
    to {background-color:AC0B0B }
}

@keyframes fade3 {
    from {background-color: white;}
    to {background-color:FFF000 }
}

@keyframes fade5 {
    from {background-color: black;}
    to {background-color:7A8B00 }
}

@keyframes fade6 {
    from {background-color: white;}
    to {background-color:#FF50FF }
}

.rotate {
    width: 100px;
    height: 50px;
    -webkit-transition: width 1s, height 1s, -webkit-transform 2s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
	border: 3px solid black;
	border-radius:4px;
	background: linear-gradient(to left, rgba(0,0,255,0.3), rgba(0,0,255,1));
	color:white;
	

}

.snn{
	transition: width 1s, height 1s, transform 1s;
	background-color: white;
	width: 20px;
	height: 200px; 
	border: 4px solid black;
	border-radius:10px;
	margin-left:auto;
}

.snn:hover{
	width: 800px;
	height: 400px; 
    transform:rotate(0deg);
    animation-name:fade2;
    animation-duration:1s;
	animation-direction: reverse;
	font-size:11px;
}
.snnpage{
	width: 20px;
	height: 195px;
}

.snnpage:hover{
	width: 795px;
	height: 395px;
	transform:rotate(0deg);
    animation-name:fade2;
    animation-duration:1s;
	animation-direction: reverse;
	font-size:11px;
}

.rot{
	
	}

.rot:hover{
	width: 300px;
    height: 1550px;
    transform:rotate(0deg);
    animation-name:fade2;
    animation-duration:0.5s;
    animation-direction:reverse;
}
@keyframes fade2 {
    from {linear-gradient(to left, rgba(0,0,255,0.3), rgba(0,0,255,1));}
    to {background-color:white;opacity:0.4}
}

.scale{
	width: 100px;
	opacity:0.6 ;
    height: 85px;
    background: blue;
    transition: width 1s, height 1s, transform 1s;
	width: 250px;
	border: 7px solid black ;
	border-radius:17px ;
	background-color:ddffff;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
	}

.scale2{
	width: 100px;
	opacity:0.6 ;
    height: 85px;
    background: blue;
    transition: width 1s, height 1s, transform 1s;
	width: 250px;
	border: 7px solid black ;
	border-radius:17px ;
	background-color:ddffff;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	background: linear-gradient(141deg, #BCFF00 0%, #DEFF00 51%, #FFF000 75%);
	}
	
.scale3{
	width: 100px;
	opacity:0.6 ;
    height: 85px;
    background: blue;
    transition: width 1s, height 1s, transform 1s;
	width: 250px;
	border: 7px solid black ;
	border-radius:17px ;
	background-color:ddffff;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	background: linear-gradient(141deg, #F21313 0%, #891414 51%, #000000 75%);
	}	
	
.scale4{
	width: 100px;
	opacity:0.6 ;
    height: 85px;
    background: blue;
    transition: width 1s, height 1s, transform 1s;
	width: 250px;
	border: 7px solid black ;
	border-radius:17px ;
	background-color:ddffff;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	background: linear-gradient(141deg, #5C9962 0%, #20540C 51%, #000000 75%);
	}

.scale5{
	width: 100px;
	opacity:0.6 ;
    height: 85px;
    background: blue;
    transition: width 1s, height 1s, transform 1s;
	width: 250px;
	border: 7px solid black ;
	border-radius:17px ;
	background-color:ddffff;
	margin-left: auto;
	margin-right: auto;
	padding:15px;
	background: linear-gradient(141deg, #AF00AF 0%, #FF4F8A 51%, #FFA0FF 75%);
	}		
	
	

.scal{
	
}
.SonicText{
	font-size:1px;
	}

.SonicText a{
    color: #000000;
    text-decoration: none;
}
	
.MetroidText{
	font-size:0px;
	}

.BarbieText{
	font-size:0px;
	}

.text3{
	font-size:1px;
}
	
.shatext{
	color:white;
	}
	
.shatext a{
	color:white;
	text-decoration: none;
	}
	
.orange{
    width: 100px;
    height: 50px;
    -webkit-transition: width 1s, height 1s, -webkit-transform 2s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
	border: 3px solid black;
	border-radius:4px;
	background: linear-gradient(to left, rgba(255,255,0,0.3), rgba(255,255,0,1));
	color:black;
	}
	
.strawberry{
    width: 100px;
    height: 50px;
    -webkit-transition: width 1s, height 1s, -webkit-transform 2s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
	border: 3px solid black;
	border-radius:4px;
	background: linear-gradient(to left, rgba(228,30,30,0.3), rgba(228,30,30,1));
	color:white;
	}
	
.blueberry{
    width: 100px;
    height: 50px;
    -webkit-transition: width 1s, height 1s, -webkit-transform 2s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
	border: 3px solid black;
	border-radius:4px;
	background: linear-gradient(to left, rgba(82,249,255,0.3), rgba(82,249,255,1));
	color:black;
	}
	
.raspberry{
    width: 100px;
    height: 50px;
    -webkit-transition: width 1s, height 1s, -webkit-transform 2s; /* Safari */
    transition: width 1s, height 1s, transform 1s;
	border: 3px solid black;
	border-radius:4px;
	background: linear-gradient(to left, rgba(205, 30, 205,0.3), rgba(255,255,255,1));
	color:black;
	}


.scal:hover{
	width: 300px;
    height: 1290px;
    transform:rotate(0deg);
    animation-name:fade2;
    animation-duration:1s;
    animation-direction:reverse;
	font-size:11px;
	}
	
.scals:hover{
	width: 300px;
    height: 200px;
    transform:rotate(0deg);
    animation-name:fade2;
    animation-duration:1s;
    animation-direction:reverse;
	font-size:11px;
	}
	
.scalb:hover{
	width: 300px;
    height: 550px;
    transform:rotate(0deg);
    animation-name:fade2;
    animation-duration:1s;
    animation-direction:reverse;
	font-size:11px;
	}

	
.SonicText:hover{
	font-size:11px;
	}
	
.MetroidText:hover{
	font-size:11px;
	}
	
.text3:hover{
	font-size:11px;
	}

.ball{
	width:150px;
	height:150px;
	animation-name:ball;
    animation-duration:2s;
    animation-direction:alternate;
	animation-iteration-count:3;
	position: absolute;
	opacity:0.0;
	padding-top:45px;
}

@keyframes ball{
	from { opacity:0.5;}
	to {transform: translate(800px,0px);opacity:1}

}

.BackgroundFade{
border: 7px solid black ;
border-radius:17px ;
background-color:ddffff ;
opacity:0.6 ;
animation-name:fade;
animation-duration:2s;
animation-direction: alternate;
animation-iteration-count: infinite; 
}

.fadey2{
	border: 7px solid black ;
border-radius:17px ;
background-color:ddffff ;
opacity:0.6 ;
animation-name:fade3;
animation-duration:2s;
animation-direction: alternate;
animation-iteration-count: infinite;
}

.fadey3{
	border: 7px solid black ;
border-radius:17px ;
background-color:ddffff ;
opacity:0.6 ;
animation-name:fade4;
animation-duration:2s;
animation-direction: alternate;
animation-iteration-count: infinite;
}

.fadey4{
	border: 7px solid black ;
border-radius:17px ;
background-color:ddffff ;
opacity:0.6 ;
animation-name:fade5;
animation-duration:2s;
animation-direction: alternate;
animation-iteration-count: infinite;
color:white;
}

.fadey5{
	border: 7px solid black ;
border-radius:17px ;
background-color:ddffff ;
opacity:0.6 ;
animation-name:fade6;
animation-duration:2s;
animation-direction: alternate;
animation-iteration-count: infinite;
color:black;
}


.back{
	background-image:url("images/sonicBackground.png");
	}
	
.backt{
	background-image:url("images/tailsBackground.png");
	}
	
.backs{
	background-image:url("images/shadowBackground.png");
	}
	
.backm{
	background-image:url("images/metroidBack.png");
	}
	
.backb{
	background-image:url("images/barbieBack.png");
	}
	
.centre{
	text-align: center;
}